// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  display: flex;
  justify-content: center;
  color:white;
  border: 1px solid;
  padding: 5px;
  background-color: #458CFD;
}

.question {
  border: 1px solid #35ACDF;
  background-color: #35ACDF;
  font-color: white ;
  color: white;
  font-weight: Semi-Bold;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.answer {
  border: solid 1px #E7E4EB;
  background-color: #E7E4EB;
  padding: 5px;
  font-weight: Semi-Bold;

}

.btn a {
  font-size: 10px;
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 10px;
border: 2px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
}

.btn a:hover {
  color: #ffffff !important;
background: #9c9c9c;
border-color: #9c9c9c !important;
transition: all 0.2s ease 0s;
}

.btn-ask {
  font-size: 10px;
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 6px;
border: 2px solid #828282!important;
display: inline-block;
transition: all 0.4s ease 0s;
}

.btn-ask:hover {
  color: #ffffff !important;
background: #9c9c9c;
border-color: #9c9c9c !important;
transition: all 0.2s ease 0s;
}
